<h1>Hello RoR</h1>
<p>This is Assignment 1 of RoR Training!</p>

<p>
    <%= link_to "Go to Patients", patients_path %> | 
    <%= link_to "Go to Physicians", physicians_path %> | 
    <%= link_to "Go to Appointments", appointments_path %>
</p>